.login_wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 409px;
  height: 460px;
  position: absolute;
  left: 476px;
  top: 214px;
  padding: 15px;
  font-family: Montserrat;
}

.big_btn_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #776644;
  justify-content: center;
}

.small_btn_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #776644;
  justify-content: center;
}

.btn {
  background-color: #776644;
  color: #776644;
  justify-content: center;
  font-family: "Montserrat";
}
.LockIcon {
  position: absolute;
  left: 18.47%;
  right: 18.48%;
  top: 0%;
  bottom: 0%;
}
h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
p{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.FacebookIcon {
 box-sizing: border-box; 
 background: rgba(235, 235, 235, 0.36);
border: 1px solid rgba(189, 189, 189, 0.26);
border-radius: 10px;
}
