.container,
.smallContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0px;
  z-index: 200;
  background: var(--app-white);
}

.smallContainer img {
  height: 40px;
  width: auto;
}

.search {
  display: inline-block;
  background-color: var(--app-grey);
  padding: 8px 20px;
  border-radius: 16px;
}

.search input {
  border: none;
  outline: none;
  background: inherit;
  margin-left: 6px;
  font-size: 12px;
}

.loginText {
  font-size: 12px;
}

.logoText {
  font-size: 12px;
}
 

.loginText {
  font-size: 12px;
}

.logoText {
  font-size: 12px;
}
