@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --app-brown: #776644;
  --app-black: #000000;
  --app-white: #ffffff;
  --app-grey: #ebebeb;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box 0px;
  font-family: "Montserrat", sans-serif;
}

.app-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 25px;
}
